[Desktop Entry]
Encoding=UTF-8
Name=Abcmint
Comment=Abcmint P2P Cryptocurrency
Comment[fr]=Abcmint, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Abcmint, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/abcmint-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/abcmint128.png
MimeType=x-scheme-handler/abcmint;
Categories=Office;
