#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_abcmint
#build/abcmint::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_abcmint)

DEB_INSTALL_EXAMPLES_abcmintd += debian/examples/*
DEB_INSTALL_MANPAGES_abcmintd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix abcmint
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f abcmint-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake abcmint-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_abcmint
	src/test_abcmint

# Ensure wrapper is set executable
binary-post-install/abcmint:
	chmod +x $(cdbs_curdestdir)usr/bin/abcmint
binary-post-install/abcmint-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/abcmint-qt
